#welcome-message {
	color: rgb(255, 255, 255);
	background-color: purple;
	font-size: 30px;
	width: 45%;
    padding: 2rem 9%;
	text-align: center;
	border-radius: 1px;
	border: 3px solid black;
	margin-top: 0;
}

#welcome-button {
	padding: 0;
	font-size: 12px;
	margin-top: 0px;
	background-color: transparent;
	color: blue;
	border: none;
}

#instructions {
	font-size: 15px;
	font-weight: bold;
	text-align: left;
	margin-top: 20px;
}